#top{
  border: 4px solid blue;
  width: 25%;
  text-align: center;
  /* top right bottom left */
  margin:auto;


}
#bottom{
  border: 3px solid red;
  width: 40%;
  padding: 30px;
  text-align: center;


  /* margin-top: 40px;
  margin-right: auto;
  margin-left: auto; */
/* or */
margin: 40px auto 40px auto;
}
